@media all {
  .Signup {
    background-color: #f7f7f5;
    padding: 22px 0 60px 0;
    min-height: 100vh;
  }

  .Signup-form {
    margin: 0 auto 60px auto;
    gap: 48px;
    padding: 32px;
    border: solid 1px #dadada;
    background-color: #fff;
    max-width: 711px;
  }

  .Signup-form .btn {
    margin-top: 48px;
    background-color: #f90 !important;
    color: #16191f !important;
    border-color: #f90 !important;
  }

  .Signup-form .btn:hover,
  .Signup-form .btn:focus,
  .Signup-form .btn:active {
    background-color: #ec7211 !important;
    color: #16191f !important;
    border-color: #ec7211 !important;
  }

  .Signup-form a {
    color: #16191f !important;
    text-decoration: underline;
  }

  .Signup-form a:hover,
  .Signup-form a:focus,
  .Signup-form a:active {
    color: #545b64 !important;
  }

  .Signup .Signup-info {
    margin-top: 32px;
    font-family: AmazonEmberDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #16191f;
  }

  .Signup .Signup-info h3 {
    letter-spacing: 0.2em;
    font-size: 16px;
    font-weight: bolder;
  }
}
