@media all {
  .Signup {
    background-color: #f7f7f5;
    padding: 22px 0 60px 0;
    min-height: 100vh;
  }

  .Signup-form {
    margin: 0 auto 60px auto;
    gap: 48px;
    padding: 32px;
    border: solid 1px #dadada;
    background-color: #fff;
    max-width: 711px;
  }

  .Signup-form .btn {
    margin-top: 48px;
  }

  .Signup-form a {
    color: #000 !important;
    text-decoration: underline;
  }

  .Signup .Signup-info {
    margin-top: 32px;
    font-family: AmazonEmberDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Signup .Signup-info h3 {
    letter-spacing: 0.2em;
    font-size: 16px;
    font-weight: bolder;
  }

  .Confirm-registration {
    margin: 0 auto;
    padding: 32px;
    border: solid 1px #dadada;
    background-color: #fff;
    max-width: 711px;
  }

  .Confirm-registration .Confirm-text {
    align-self: stretch;
    flex-grow: 0;
    font-family: AmazonEmberDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin: 16px 0;
  }

  .Confirm-registration .btn {
    margin: 48px 0;
  }
}
