@media all {
  .Signup {
    background-image: url("/src/assets/img/login/BG asset-Large –– 1170x658_v2.jpg");
    background-color: var(--neutral-black);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 22px 0 0 0;
  }

  .Signup-form {
    margin: 60px auto 60px auto;
    gap: 48px;
    padding: 32px;
    border: solid 1px #dadada;
    background-color: #fff;
    max-width: 711px;
  }

  .Signup-form a {
    color: #16191f !important;
    text-decoration: underline;
  }

  .Signup-form a:hover,
  .Signup-form a:focus,
  .Signup-form a:active {
    color: #545b64 !important;
  }

  .Signup .Signup-info {
    margin-top: 32px;
    font-family: AmazonEmberDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #16191f;
  }

  .Signup .Signup-info h3 {
    letter-spacing: 0.2em;
    font-size: 16px;
    font-weight: bolder;
  }
}
