@media all {
  .Signup {
    background-color: #f7f7f5;
    padding: 22px 0 0 0;
    min-height: 100vh;
  }

  .Signup-container form {
    margin: 0 0 30px 0;
    gap: 48px;
    padding: 32px;
    border: solid 1px #dadada;
    background-color: #fff;
  }

  .Signup-container form .btn {
    margin-top: 48px;
  }

  .Signup-container .Signup-info {
    margin: 0 0 30px 0;
    gap: 16px;
    padding: 32px;
    border: solid 1px #dadada;
    background-color: #fff;
  }

  .Signup-container .Signup-info .info-text {
    margin-top: 16px;
    font-family: AmazonEmberDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Confirm-registration {
    margin: 0 auto;
    padding: 32px;
    border: solid 1px #dadada;
    background-color: #fff;
    max-width: 711px;
  }

  .Confirm-registration .Confirm-text {
    align-self: stretch;
    flex-grow: 0;
    font-family: AmazonEmberDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin: 16px 0;
  }

  .Confirm-registration .btn {
    margin: 48px 0;
  }
}
